**Tugas 1** : Buat DataFrame sederhana di Spark dan eksplorasi beberapa fungsi dasar yang tersedia.

In [ ]:
#Contoh membuat DataFrame sederhana dan operasi dasar
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3100)]
columns = ['EmployeeName', 'Departement', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

+------------+-----------+------+
|EmployeeName|Departement|Salary|
+------------+-----------+------+
|       James|      Sales|  3000|
|     Michael|      Sales|  4600|
|      Robert|      Sales|  4100|
|       Maria|    Finance|  3100|
+------------+-----------+------+

**Tugas 2** : Gunakan operasi filter,  select, GroupBy untuk mengekstrak informasi dari data, serta lakukan agragasi data untuk mendapatkan insight tentang dataset menggunakan perintah seperti mean, max, sum.

In [ ]:
from pyspark.sql.functions import col, avg, max, sum, lit

#Menampilkan skema dataframe
df.printSchema()

#Memilih kolom tertentu
print("Kolom EmployeeName dan Salary")
df_cobaselect = df.select("EmployeeName", "Salary")
df_cobaselect.show()

# Menyaring baris
print("Gaji  di atas 4000")
df_saring_gaji = df.filter(col("Salary") >  4000)
df_saring_gaji.show()

#Menambah atau mengubah kolom
print("Menambah kolom")
df_kolom_baru = df.withColumn("Bonus", lit(500))
df_kolom_baru.show()

# Mengelompokkan dan mengagregasi
print("Mengelompokkan dan mengagregasi")
df_kelompok_rata_gaji = df.groupBy("Departement").agg(
    avg("Salary").alias("Rata-rata Gaji"),
    max("Salary").alias("Gaji tertinggi"),
    sum("Salary").alias("Total Gaji"))
df_kelompok_rata_gaji.show()

#Mengurutkan data dari tertinggi ke terendah
print("Mengurutkan data dari tertinggi ke terendah")
df_urut =df.orderBy(col("Salary").desc())
df_urut.show()

#Mengubah nama kolom
print("Mengubah nama kolom")
df_ubah_nama = df.withColumnRenamed("EmployeeName", "Nama pekerja")
df_ubah_nama.show()

root
 |-- EmployeeName: string (nullable = true)
 |-- Departement: string (nullable = true)
 |-- Salary: long (nullable = true)

Kolom EmployeeName dan Salary
+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3100|
+------------+------+

Gaji  di atas 4000
+------------+-----------+------+
|EmployeeName|Departement|Salary|
+------------+-----------+------+
|     Michael|      Sales|  4600|
|      Robert|      Sales|  4100|
+------------+-----------+------+

Menambah kolom
+------------+-----------+------+-----+
|EmployeeName|Departement|Salary|Bonus|
+------------+-----------+------+-----+
|       James|      Sales|  3000|  500|
|     Michael|      Sales|  4600|  500|
|      Robert|      Sales|  4100|  500|
|       Maria|    Finance|  3100|  500|
+------------+-----------+------+-----+

Mengelompokkan dan mengagregasi
+-----------+--------------+--------------+----------+
|Departement|Rata-rata Gaji|Gaji tertinggi|Total Gaji|
+-----------+--------------+--------------+----------+
|      Sales|        3900.0|          4600|     11700|
|    Finance|        3100.0|          3100|      3100|
+-----------+--------------+--------------+----------+

Mengurutkan data dari tertinggi ke terendah
+------------+-----------+------+
|EmployeeName|Departement|Salary|
+------------+-----------+------+
|     Michael|      Sales|  4600|
|      Robert|      Sales|  4100|
|       Maria|    Finance|  3100|
|       James|      Sales|  3000|
+------------+-----------+------+

Mengubah nama kolom
+------------+-----------+------+
|Nama pekerja|Departement|Salary|
+------------+-----------+------+
|       James|      Sales|  3000|
|     Michael|      Sales|  4600|
|      Robert|      Sales|  4100|
|       Maria|    Finance|  3100|
+------------+-----------+------+

**Tugas 3** : Eksplorasi bagaimana mengolah tipe data kompleks dalam Spark DataFrames.

In [ ]:
# Contoh manipulasi tipe data kompleks
SalaryBonus = df.withColumn('SalaryBonus', df['Salary'] * 0.1)
SalaryBonus.show()
TotalCompensation = SalaryBonus.withColumn('TotalCompensation', SalaryBonus['Salary'] + SalaryBonus['SalaryBonus'])
TotalCompensation.show()

+------------+-----------+------+-----------+
|EmployeeName|Departement|Salary|SalaryBonus|
+------------+-----------+------+-----------+
|       James|      Sales|  3000|      300.0|
|     Michael|      Sales|  4600|      460.0|
|      Robert|      Sales|  4100|      410.0|
|       Maria|    Finance|  3100|      310.0|
+------------+-----------+------+-----------+

+------------+-----------+------+-----------+-----------------+
|EmployeeName|Departement|Salary|SalaryBonus|TotalCompensation|
+------------+-----------+------+-----------+-----------------+
|       James|      Sales|  3000|      300.0|           3300.0|
|     Michael|      Sales|  4600|      460.0|           5060.0|
|      Robert|      Sales|  4100|      410.0|           4510.0|
|       Maria|    Finance|  3100|      310.0|           3410.0|
+------------+-----------+------+-----------+-----------------+

In [ ]:
# ArrayType
from pyspark.sql import SparkSession
from pyspark.sql.functions  import col, explode

spark = SparkSession.builder.appName("Tipe_Kompleks").getOrCreate()

data = [(1, ["Membaca", "Coding", "Traveling"]),
        (2, ["Gaming", "Musik"])]

df = spark.createDataFrame(data, ["id","hobbies"])
print("Contoh tipe array")
df.show(truncate=False)

#Mengolah array
df_exploded = df.withColumn("Hobby", explode(col("Hobbies")))
print("Array setelah diolah")
df_exploded.show(truncate=False)


# MapType
data = [(1, {"Big Data Teori": 90, "Bahasa Inggris": 85}),
        (2, {"Big Data Teori": 78, "Bahasa Inggris": 92})]

df = spark.createDataFrame(data, ["id", "Nilai"])
print("Contoh tipe map")
df.show(truncate=False)

# Mengambil nilai dari map
print("Mengambil nilai dari map")
df.select(col("id"), col("Nilai")["Big Data Teori"].alias("Nilai Big Data")).show()


#  StructType
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

data = [
    (1, ("Alice", 23)),
    (2, ("Bob", 30))
]

schema =  StructType([
    StructField("id",IntegerType(), True),
    StructField("orang", StructType([
        StructField("nama", StringType(), True),
        StructField("umur", IntegerType(), True)
    ]))
])

df = spark.createDataFrame(data, schema)
print("Contoh tipe struct")
df.show(truncate=False)

# Mengakses field di dalam struct
print("Mengakses field di dalam struct")
df.select(col("id"), col("orang.nama"),col("orang.umur")).show()

Contoh tipe array
+---+----------------------------+
|id |hobbies                     |
+---+----------------------------+
|1  |[Membaca, Coding, Traveling]|
|2  |[Gaming, Musik]             |
+---+----------------------------+

Array setelah diolah
+---+----------------------------+---------+
|id |hobbies                     |Hobby    |
+---+----------------------------+---------+
|1  |[Membaca, Coding, Traveling]|Membaca  |
|1  |[Membaca, Coding, Traveling]|Coding   |
|1  |[Membaca, Coding, Traveling]|Traveling|
|2  |[Gaming, Musik]             |Gaming   |
|2  |[Gaming, Musik]             |Musik    |
+---+----------------------------+---------+

Contoh tipe map
+---+--------------------------------------------+
|id |Nilai                                       |
+---+--------------------------------------------+
|1  |{Big Data Teori -> 90, Bahasa Inggris -> 85}|
|2  |{Big Data Teori -> 78, Bahasa Inggris -> 92}|
+---+--------------------------------------------+

Mengambil nilai dari map
+---+--------------+
| id|Nilai Big Data|
+---+--------------+
|  1|            90|
|  2|            78|
+---+--------------+

Contoh tipe struct
+---+-----------+
|id |orang      |
+---+-----------+
|1  |{Alice, 23}|
|2  |{Bob, 30}  |
+---+-----------+

Mengakses field di dalam struct
+---+-----+----+
| id| nama|umur|
+---+-----+----+
|  1|Alice|  23|
|  2|  Bob|  30|
+---+-----+----+

**Tugas 4** : Implementasikan window function untuk menghitung running total  atau rangking.

In [ ]:
# Contoh menggunakan window funtions untuk rangking
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Departement').orderBy('Salary')
df_with_rank = df_ubah_nama.withColumn('Rank', F.rank().over(windowSpec))
print("Penggunaan window functions untuk ranking")
df_with_rank.show()

# Contoh menggunakan window functions untuk running
df_running = df_ubah_nama.withColumn('Running Total', F.sum('Salary').over(windowSpec))
print("Penggunaan window function untuk running")
df_running.show()

Penggunaan window functions untuk ranking
+------------+-----------+------+----+
|Nama pekerja|Departement|Salary|Rank|
+------------+-----------+------+----+
|       Maria|    Finance|  3100|   1|
|       James|      Sales|  3000|   1|
|      Robert|      Sales|  4100|   2|
|     Michael|      Sales|  4600|   3|
+------------+-----------+------+----+

Penggunaan window function untuk running
+------------+-----------+------+-------------+
|Nama pekerja|Departement|Salary|Running Total|
+------------+-----------+------+-------------+
|       Maria|    Finance|  3100|         3100|
|       James|      Sales|  3000|         3000|
|      Robert|      Sales|  4100|         7100|
|     Michael|      Sales|  4600|        11700|
+------------+-----------+------+-------------+

In [ ]:
!pip  install  pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [4]:
# Menggunakan dataset dari kaggle
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("AnalisisDatasetNetflix").getOrCreate()

# Load  dataset Netflix
df = spark.read.csv("/netflix_titles_nov_2019.csv", header=True, inferSchema=True)

df.show(20,truncate=False)

df.printSchema()

+--------+--------------------------------------+--------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------+-----------------+------------+------+---------+-----------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
|show_id |title                                 |director                  |cast                                                                                                                                                                                                                                                                            |country                               |date_added       |release_year|rating|duration |listed_in                                                        |description                                                                                                                                            |type   |
+--------+--------------------------------------+--------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------+-----------------+------------+------+---------+-----------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
|81193313|Chocolate                             |NULL                      |Ha Ji-won, Yoon Kye-sang, Jang Seung-jo, Kang Bu-ja, Lee Jae-ryong, Min Jin-woong, Kim Won-hae, Yoo Teo                                                                                                                                                                         |South Korea                           |November 30, 2019|2019        |TV-14 |1 Season |International TV Shows, Korean TV Shows, Romantic TV Shows       |Brought together by meaningful meals in the past and present, a doctor and a chef are reacquainted when they begin working at a hospice ward.          |TV Show|
|81197050|Guatemala: Heart of the Mayan World   |Luis Ara, Ignacio Jaunsolo|Christian Morales                                                                                                                                                                                                                                                               |NULL                                  |November 30, 2019|2019        |TV-G  |67 min   |Documentaries, International Movies                              |From Sierra de las Minas to Esquipulas, explore Guatemala's cultural and geological wealth, including ancient Mayan cities and other natural wonders.  |Movie  |
|81213894|The Zoya Factor                       |Abhishek Sharma           |Sonam Kapoor, Dulquer Salmaan, Sanjay Kapoor, Sikander Kher, Angad Bedi, Koel Purie, Pooja Bhamrah, Manu Rishi Chadha                                                                                                                                                           |India                                 |November 30, 2019|2019        |TV-14 |135 min  |Comedies, Dramas, International Movies                           |A goofy copywriter unwittingly convinces the Indian cricket team that she’s their lucky mascot, to the dismay of their superstition-shunning captain.  |Movie  |
|81082007|Atlantics                             |Mati Diop                 |Mama Sane, Amadou Mbow, Ibrahima Traore, Nicole Sougou, Amina Kane, Mariama Gassama, Coumba Dieng, Ibrahima Mbaye, Diankou Sembene                                                                                                                                              |France, Senegal, Belgium              |November 29, 2019|2019        |TV-14 |106 min  |Dramas, Independent Movies, International Movies                 |Arranged to marry a rich man, young Ada is crushed when her true love goes missing at sea during a migration attempt – until a miracle reunites them.  |Movie  |
|80213643|Chip and Potato                       |NULL                      |Abigail Oliver, Andrea Libman, Briana Buckmaster, Brian Dobson, Chance Hurstfield, Dominic Good, Emma Jayne Maas, Evan Byarushengo, Scotia Anderson, Alessandro Juliani                                                                                                         |Canada, United Kingdom                |NULL             |2019        |TV-Y  |2 Seasons|Kids' TV                                                         |Lovable pug Chip starts kindergarten, makes new friends and tries new things – with a little help from Potato, her secret mouse pal.                   |TV Show|
|81172754|Crazy people                          |Moses Inwang              |Ramsey Nouah, Chigul, Sola Sobowale, Ireti Doyle, Ben Touitou, Francis Onwochei, Ememobong Nkana, Emem Inwang, Patrick Onyeke                                                                                                                                                   |Nigeria                               |November 29, 2019|2018        |TV-14 |107 min  |Comedies, International Movies, Thrillers                        |Nollywood star Ramsey Nouah learns that someone is impersonating him and breaks out of a mental institution to expose the imposter.                    |Movie  |
|81120982|I Lost My Body                        |Jérémy Clapin             |Hakim Faris, Victoire Du Bois, Patrick d'Assumçao, Dev Patel, Alia Shawkat, George Wendt                                                                                                                                                                                        |France                                |November 29, 2019|2019        |TV-MA |81 min   |Dramas, Independent Movies, International Movies                 |Romance, mystery and adventure intertwine as a young man falls in love and a severed hand scours Paris for its owner in this mesmerizing animated film.|Movie  |
|81227195|Kalushi: The Story of Solomon Mahlangu|Mandla Dube               |Thabo Rametsi, Thabo Malema, Welile Nzuza, Jafta Mamabolo, Louw Venter, Pearl Thusi                                                                                                                                                                                             |South Africa                          |November 29, 2019|2016        |TV-MA |107 min  |Dramas, International Movies                                     |The life and times of iconic South African liberation fighter Solomon Mahlangu, who battled the forces of apartheid, come into focus.                  |Movie  |
|70205672|La Reina del Sur                      |NULL                      |Kate del Castillo, Cristina Urgel, Alberto Jiménez, Juan José Arjona, Humberto Zurita, Dagoberto Gama, Christian Tappán, Miguel de Miguel, Salvador Zerboni, Carmen Navarro, Santiago Meléndez, Juan Carlos Solarte                                                             |United States, Spain, Colombia, Mexico|NULL             |2019        |TV-14 |2 Seasons|Crime TV Shows, International TV Shows, Spanish-Language TV Shows|This compelling show tells the story of the legendary Teresa Mendoza, a courageous woman who is perceived as conquering the world of drug trafficking. |TV Show|
|81172841|Lagos Real Fake Life                  |Mike Ezuruonye            |Nonso Diobi, Mike Ezuruonye, Mercy Aigbe, Rex Nosa, Annie Macaulay Idibia, Ik Ogbonna, Nedu Wazobia, Uzee Usman, Odunlade Adekola, Mr Jollof, Efe Irele, Josh 2 Funny, Haillie Sumney, Emmanuella, MC Lively                                                                    |NULL                                  |November 29, 2019|2018        |TV-14 |118 min  |Comedies, International Movies                                   |Two mooching friends vie for the attention of wealthy, beautiful women only to discover that their lavish lifestyles are bogus.                        |Movie  |
|81172899|Payday                                |Cheta Chukwu              |Baaj Adebule, Ebiye Victor, Meg Otanwa, Bisola Aiyeola, Mawuli Gavor, Zack Orji, Segilola Ogidan                                                                                                                                                                                |Nigeria                               |November 29, 2019|2018        |TV-MA |110 min  |Comedies, Independent Movies, International Movies               |After an expensive night out, two flatmates get tangled in an overnight misadventure to recover their rent money to pay their dead landlord's daughter.|Movie  |
|81094391|Sugar Rush Christmas                  |NULL                      |Hunter March, Candace Nelson, Adriano Zumbo                                                                                                                                                                                                                                     |United States                         |November 29, 2019|2019        |TV-PG |1 Season |Reality TV                                                       |"It's everything you love about ""Sugar Rush"" – with a holly jolly holiday twist – in this Christmas-themed spin on competitive baking."              |TV Show|
|81172908|The Accidental Spy                    |Roger Russell             |Ramsey Nouah, Christine Allado, Ayo Makun, Emmanuel Edunjobi, Thenjiwe Moseley, Miguel A. Núñez Jr., Bucci Franklin                                                                                                                                                             |Nigeria                               |November 29, 2019|2017        |TV-14 |104 min  |Action & Adventure, Comedies, International Movies               |Nursing a broken heart, an IT specialist moves to London to audition for a reality TV show that unexpectedly turns into a real-life cartel drama.      |Movie  |
|81152641|The Charming Stepmom                  |NULL                      |Shahkrit Yamnarm, View Wannarot Sontichai, Krittanai Arsalprakit, Ployshompoo Supasap, Boriboon Chanrueng, Shawankorn Wanthanapisitkul, Duangta Toongkamanee, Daraneenuch Pasutanavin, Phuwin Tangsakyuen, Nuntasai Pisolyabut, Pimmara Charoenpakdee, Thanawat Rattanakitpaisan|NULL                                  |November 29, 2019|2019        |TV-14 |1 Season |International TV Shows, Romantic TV Shows, TV Comedies           |A quirky fashion student becomes the nanny of a handsome widower’s three kids, experiencing a series of silly antics and schemes.                      |TV Show|
|81172901|The Island                            |Toka McBaror              |Sambasa Nzeribe, Segun Arinze, Tokunbo Idowu, Femi Adebayo                                                                                                                                                                                                                      |Nigeria                               |November 29, 2019|2018        |TV-14 |93 min   |Dramas, International Movies, Thrillers                          |When a colonel uncovers controversial intel about the government, he makes a shocking discovery and must decide whether to reveal it or risk his life. |Movie  |
|80990849|The Movies That Made Us               |NULL                      |NULL                                                                                                                                                                                                                                                                            |United States                         |November 29, 2019|2019        |TV-MA |1 Season |Docuseries                                                       |These blockbusters brought us together and gave us the time of our lives. Meet the actors, directors and industry insiders who made them happen.       |TV Show|
|81033086|Holiday Rush                          |Leslie Small              |Romany Malco, Sonequa Martin-Green, Darlene Love, Deon Cole, La La Anthony, Deysha Nelson, Amarr M. Wooten, Selena-Marie Alphonse, Andrea-Marie Alphonse                                                                                                                        |United States                         |November 28, 2019|2019        |TV-PG |94 min   |Children & Family Movies, Dramas                                 |A widowed radio DJ and his four spoiled kids need to tighten their belts and pull together when their life of luxury turns lean just before Christmas. |Movie  |
|80156799|Levius                                |NULL                      |Nobunaga Shimazaki, Junichi Suwabe, Takahiro Sakurai, Ayane Sakura, Hochu Otsuka, Daisuke Ono, Saori Hayami, Mamoru Miyano                                                                                                                                                      |Japan                                 |November 28, 2019|2019        |TV-14 |1 Season |Anime Series, International TV Shows                             |Young Levius rises through the ranks in the brutal world of metal boxing under his uncle's guidance. Forces outside the ring have their eye on him.    |TV Show|
|81161538|Lugar de Mulher                       |NULL                      |NULL                                                                                                                                                                                                                                                                            |Brazil                                |November 28, 2019|2019        |TV-MA |1 Season |International TV Shows, Stand-Up Comedy & Talk Shows, TV Comedies|Four comedians from Brazil riff on sexuality, politics, religion and motherhood – and set out to prove a woman's place is anywhere she wants it to be. |TV Show|
|80997965|Merry Happy Whatever                  |NULL                      |Dennis Quaid, Bridgit Mendler, Brent Morin, Ashley Tisdale, Siobhan Murphy, Adam Rose, Elizabeth Ho, Hayes MacArthur, Garcelle Beauvais, Tyler Ritter, Mason Davis, Lucas Jaye                                                                                                  |United States                         |November 28, 2019|2019        |TV-PG |1 Season |TV Comedies                                                      |A struggling LA musician tries to win over his new girlfriend's gruff dad and quirky, tight-knit siblings on a 10-day Christmas visit to Philadelphia. |TV Show|
+--------+--------------------------------------+--------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------+-----------------+------------+------+---------+-----------------------------------------------------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------+-------+
only showing top 20 rows

root
 |-- show_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)
 |-- type: string (nullable = true)

In [5]:
from pyspark.sql.functions import split, explode, col

# Memisahkan genre dari array, lalu explode DUARR
df_genre = df.withColumn("genre", explode(split(col("listed_in"),", ")))

# Mengurutkan genre dari yang terbanyak
df_genre.groupBy("genre").count().orderBy(col("count").desc()).show(20, truncate=False)

+------------------------+-----+
|genre                   |count|
+------------------------+-----+
|International Movies    |1797 |
|Dramas                  |1485 |
|Comedies                |990  |
|International TV Shows  |966  |
|Documentaries           |657  |
|TV Dramas               |574  |
|Action & Adventure      |532  |
|Independent Movies      |511  |
|TV Comedies             |424  |
|Crime TV Shows          |355  |
|Thrillers               |352  |
|Children & Family Movies|340  |
|Romantic Movies         |338  |
|Kids' TV                |313  |
|Stand-Up Comedy         |273  |
|Docuseries              |271  |
|Romantic TV Shows       |265  |
|Music & Musicals        |229  |
|Horror Movies           |229  |
|British TV Shows        |205  |
+------------------------+-----+
only showing top 20 rows

In [30]:
# 1. Menghitung jumlah movie dan jumlah TV Show
df_filtered_tvshowandmovie = df.filter((col("type") == "Movie") | (col("type") == "TV Show"))
print("Menghitung jumlah movie dan TV Show")
df_filtered_tvshowandmovie.groupBy("type").count().show()

# 2. Menghitung jumlah konten berdasarkan negara (Top 10)
print("Menghitung jumlah konten berdasarkan negara (Top 10)")
df.groupBy("country").count().orderBy("count", ascending=False).show(10)

# 3. Mencari film rilisan terbaru
print("Film rilisan terbaru")
df.orderBy(df.release_year.desc()).select("title", "release_year").show(5)

# 4. Menghitung jumlah konten per tahun
print("Jumlah konten per tahun")
df.groupBy("release_year").count().orderBy("release_year", ascending=False).show(10)

# 5. Memecah genre (listed_in) jadi array
from pyspark.sql.functions import split
print("pecah genre")
df_genre = df.withColumn("genre", split(df.listed_in, ","))
df_genre.select("title", "genre").show(20, truncate=False)

# 6. Menghitung jumlah konten per genre
print("Jumlah konten per genre")
df_genre.select(explode(df_genre.genre).alias("genre")).groupBy("genre").count().orderBy("count", ascending=False).show(10, truncate=False)

# 7. Rangking negara dengan jumlah konten terbanyak
windowSpec = Window.orderBy(F.col("count").desc())
df_country_rank = df.groupBy("country").count() \
    .withColumn("rank", F.rank().over(windowSpec))
print("rangking negara dengan jumlah konten terbanyak")
df_country_rank.show(10)

# 8. Mencari sutradara dengan jumlah film terbanyak
print("Sutradara dengan jumlah film terbanyak")
df.groupBy("director").count().orderBy("count", ascending=False).show(10)

# 9. Mencari film dengan judul mengandung kata "Love" hehe
print("Film dengan judul mengandung kata Love")
df.filter(df.title.contains("Love")).select("title", "release_year").show(10, truncate=False)

# 10. Menghitung jumlah konten per rating
print("Jumlah konten per rating")
df.groupBy("rating").count().orderBy("count", ascending=False).show(10)

# 11. Menghitung jumlah aktor yang muncul di cast list
from pyspark.sql.functions import split, explode
print("Jumlah aktor yang muncul  di cast list")
df_cast = df.withColumn("actor", explode(split(df.cast, ", ")))
df_cast.groupBy("actor").count().orderBy("count", ascending=False).show(10)

# 12. 5 negara teratas dengan jumlah TV Shows terbanyak
print("5 negara teratas dengan jumlah TV Shows terbanyak")
df.filter(df.type == "TV Show").groupBy("country").count().orderBy("count", ascending=False).show(5)

# 13. Mencari tahun dengan jumlah film terbanyak
print("Tahun dengan jumlah film terbanyak")
df.filter(df.type == "Movie").groupBy("release_year").count().orderBy("count", ascending=False).show(5)

Menghitung jumlah movie dan TV Show
+-------+-----+
|   type|count|
+-------+-----+
|TV Show| 1871|
|  Movie| 3854|
+-------+-----+

Menghitung jumlah konten berdasarkan negara (Top 10)
+--------------+-----+
|       country|count|
+--------------+-----+
| United States| 1900|
|         India|  697|
|          NULL|  429|
|United Kingdom|  336|
|         Japan|  168|
|        Canada|  139|
|   South Korea|  133|
|         Spain|  113|
|        France|   85|
|        Mexico|   80|
+--------------+-----+
only showing top 10 rows

Film rilisan terbaru
+------------------+------------+
|             title|release_year|
+------------------+------------+
|     William Wyler|       TV-PG|
|Maradona in Mexico|        2020|
|    I Lost My Body|        2019|
|      Holiday Rush|        2019|
|  La Reina del Sur|        2019|
+------------------+------------+
only showing top 5 rows

Jumlah konten per tahun
+------------+-----+
|release_year|count|
+------------+-----+
|       TV-PG|    1|
|        2020|    1|
|        2019|  760|
|        2018| 1039|
|        2017|  927|
|        2016|  817|
|        2015|  501|
|        2014|  281|
|        2013|  232|
|        2012|  174|
+------------+-----+
only showing top 10 rows

pecah genre
+--------------------------------------+---------------------------------------------------------------------+
|title                                 |genre                                                                |
+--------------------------------------+---------------------------------------------------------------------+
|Chocolate                             |[International TV Shows,  Korean TV Shows,  Romantic TV Shows]       |
|Guatemala: Heart of the Mayan World   |[Documentaries,  International Movies]                               |
|The Zoya Factor                       |[Comedies,  Dramas,  International Movies]                           |
|Atlantics                             |[Dramas,  Independent Movies,  International Movies]                 |
|Chip and Potato                       |[Kids' TV]                                                           |
|Crazy people                          |[Comedies,  International Movies,  Thrillers]                        |
|I Lost My Body                        |[Dramas,  Independent Movies,  International Movies]                 |
|Kalushi: The Story of Solomon Mahlangu|[Dramas,  International Movies]                                      |
|La Reina del Sur                      |[Crime TV Shows,  International TV Shows,  Spanish-Language TV Shows]|
|Lagos Real Fake Life                  |[Comedies,  International Movies]                                    |
|Payday                                |[Comedies,  Independent Movies,  International Movies]               |
|Sugar Rush Christmas                  |[Reality TV]                                                         |
|The Accidental Spy                    |[Action & Adventure,  Comedies,  International Movies]               |
|The Charming Stepmom                  |[International TV Shows,  Romantic TV Shows,  TV Comedies]           |
|The Island                            |[Dramas,  International Movies,  Thrillers]                          |
|The Movies That Made Us               |[Docuseries]                                                         |
|Holiday Rush                          |[Children & Family Movies,  Dramas]                                  |
|Levius                                |[Anime Series,  International TV Shows]                              |
|Lugar de Mulher                       |[International TV Shows,  Stand-Up Comedy & Talk Shows,  TV Comedies]|
|Merry Happy Whatever                  |[TV Comedies]                                                        |
+--------------------------------------+---------------------------------------------------------------------+
only showing top 20 rows

Jumlah konten per genre
+-----------------------+-----+
|genre                  |count|
+-----------------------+-----+
| International Movies  |1720 |
|Dramas                 |992  |
|Comedies               |728  |
|Documentaries          |634  |
|International TV Shows |546  |
|Action & Adventure     |532  |
| TV Dramas             |520  |
| Independent Movies    |495  |
| Dramas                |493  |
| International TV Shows|420  |
+-----------------------+-----+
only showing top 10 rows

rangking negara dengan jumlah konten terbanyak
+--------------+-----+----+
|       country|count|rank|
+--------------+-----+----+
| United States| 1900|   1|
|         India|  697|   2|
|          NULL|  429|   3|
|United Kingdom|  336|   4|
|         Japan|  168|   5|
|        Canada|  139|   6|
|   South Korea|  133|   7|
|         Spain|  113|   8|
|        France|   85|   9|
|        Mexico|   80|  10|
+--------------+-----+----+
only showing top 10 rows

Sutradara dengan jumlah film terbanyak
+--------------------+-----+
|            director|count|
+--------------------+-----+
|                NULL| 1904|
|Raúl Campos, Jan ...|   18|
|        Marcus Raboy|   14|
|           Jay Karas|   13|
|         Jay Chapman|   12|
|    Steven Spielberg|    8|
|          Johnnie To|    8|
|     Martin Scorsese|    8|
| Cathy Garcia-Molina|    7|
|      S.S. Rajamouli|    7|
+--------------------+-----+
only showing top 10 rows

Film dengan judul mengandung kata Love
+---------------------------------+------------+
|title                            |release_year|
+---------------------------------+------------+
|Love, Rosie                      |2014        |
|The Love Guru                    |2008        |
|The Lovers                       |2017        |
|Tune in for Love                 |2019        |
|How to Be a Latin Lover          |2017        |
|Love Jones                       |1997        |
|Love, Chunibyo & Other Delusions!|2014        |
|A Little Thing Called First Love |2019        |
|A Tale of Love and Darkness      |2015        |
|Love, Surreal and Odd            |2017        |
+---------------------------------+------------+
only showing top 10 rows

Jumlah konten per rating
+------+-----+
|rating|count|
+------+-----+
| TV-MA| 1932|
| TV-14| 1593|
| TV-PG|  677|
|     R|  439|
| PG-13|  227|
|    NR|  217|
|    PG|  160|
| TV-Y7|  156|
|  TV-G|  147|
|  TV-Y|  139|
+------+-----+
only showing top 10 rows

Jumlah aktor yang muncul  di cast list
+----------------+-----+
|           actor|count|
+----------------+-----+
|     Anupam Kher|   29|
|  Shah Rukh Khan|   28|
|    Akshay Kumar|   23|
|Takahiro Sakurai|   22|
|       Yuki Kaji|   22|
|   Andrea Libman|   22|
|   Ashleigh Ball|   22|
|         Om Puri|   21|
|     John Cleese|   20|
|    Paresh Rawal|   19|
+----------------+-----+
only showing top 10 rows

5 negara teratas dengan jumlah TV Shows terbanyak
+--------------+-----+
|       country|count|
+--------------+-----+
| United States|  521|
|          NULL|  254|
|United Kingdom|  172|
|         Japan|  121|
|   South Korea|  101|
+--------------+-----+
only showing top 5 rows

Tahun dengan jumlah film terbanyak
+------------+-----+
|release_year|count|
+------------+-----+
|        2017|  643|
|        2018|  615|
|        2016|  573|
|        2015|  342|
|        2019|  338|
+------------+-----+
only showing top 5 rows